
version: '3'

services:
  portfolio:
    container_name: portfolio-app
    build:
      context: .
      dockerfile: Dockerfile
    image: portfolio:latest
    ports:
      - "3000:3000"
    restart: always
    environment:
      - NODE_ENV=production
